
.navbar-default {
    border-top: 5px solid #97316e;
}

.container-navbar {
    margin-left: 0px;
}

.navbar-logo {
    padding-left: 0px;
    padding-top: 0px;
}

#rse-img {
  position: fixed;
  left: 0px;
  top: 35px;
  width: 160px;
  z-index: 1031;
}

.navbar-default .navbar-nav .navbar-conflink {
  background-color: #97316e;
}

.navbar-default .navbar-nav .navbar-conflink a {
  color: #FFFFFF;
}

.navbar-default .navbar-nav .dropdown-item {
  background-color: #97316e;
}

.navbar-default .navbar-nav .dropdown-item a {
  color: #FFFFFF;
}

/* push footer down to window bottom on short pages */

html, body {
    height: 100%;
}

.container {
    min-height: 100%;
    margin-left: auto;
}

.starter-template {
    overflow: auto;
    padding-bottom: 45px;
}

.footer {
    clear: both;
    height: 45px;
    margin-top: -45px;
    padding-top: 0;
    position: relative;
    width: 100%;

    border-top: 1px solid #97316e;
    padding: 15px;
    text-align: center;
}

.footer a {
    color: #777;
}

.leaflet-popup-content img {
    height: 75px;
    float: left;
    margin-right: 0.5em;

}

.leaflet-popup-content {
    height: 12em;
}

blockquote {
    font-size: 100%;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: $zindex-dropdown;
  display: none; // none by default, but block on "open" of the menu
  float: left;
  min-width: $dropdown-min-width;
  padding: $dropdown-padding-y 0;
  margin: $dropdown-spacer 0 0; // override default ul
  font-size: $font-size-base; // Redeclare because nesting can cause inheritance issues
  color: $body-color;
  text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
  list-style: none;
  background-color: #97316e;
  background-clip: padding-box;
  border: $dropdown-border-width solid $dropdown-border-color;
  @include border-radius($dropdown-border-radius);
  @include box-shadow($dropdown-box-shadow);
}

.dropdown-item {
  display: block;
  width: 100%; // For `<button>`s
  margin: 1rem;
  padding: 1rem;
  clear: both;
  font-weight: $font-weight-normal;
  color: $dropdown-link-color;
  text-align: inherit; // For `<button>`s
  white-space: nowrap; // prevent links from randomly breaking onto new lines
  background-color: transparent; // For `<button>`s
  border: 0; // For `<button>`s

  @include hover-focus {
    color: $dropdown-link-hover-color;
    text-decoration: none;
    @include gradient-bg($dropdown-link-hover-bg);
  }

  &.active,
  &:active {
    color: $dropdown-link-active-color;
    text-decoration: none;
    @include gradient-bg($dropdown-link-active-bg);
  }

  &.disabled,
  &:disabled {
    color: $dropdown-link-disabled-color;
    background-color: transparent;
    // Remove CSS gradients if they're enabled
    @if $enable-gradients {
      background-image: none;
    }
  }
}
