
.navbar-default {
    border-top: 5px solid #97316e;
}

.container-navbar {
    margin-left: 0px;
}

.navbar-logo {
    padding-left: 0px;
    padding-top: 0px;
}

.navbar-logo>img {
    height : 250%;
}

#rse-img {
  position: fixed;
  left: 0px;
  top: 35px;
  width: 160px;
  z-index: 1031;
}


/* push footer down to window bottom on short pages */

html, body {
    height: 100%;
}

.container {
    min-height: 100%;
}

.starter-template {
    overflow: auto;
    padding-bottom: 45px;
}

.footer {
    clear: both;
    height: 45px;
    margin-top: -45px;
    padding-top: 0;
    position: relative;
    width: 100%;

    border-top: 1px solid #97316e;
    padding: 15px;
    text-align: center;
}

.footer a {
    color: #777;
}

