
.navbar-default {
    border-top: 5px solid #97316e;
}

.container-navbar {
    margin-left: 0px;
}

.navbar-logo {
    padding-left: 0px;
    padding-top: 0px;
}

.navbar-logo>img {
    height : 250%;
}

#rse-img {
  position: fixed;
  left: 0px;
  top: 35px;
  width: 160px;
  z-index: 1031;
}

.footer {
    border-top: 1px solid #97316e;
    padding: 20px;
    color: #777;
    text-align: center;
}

.footer a {
    color: #777;
}
