<div class="footer">
	<a href="{{ "../imprint.html" }}">Impressum (legal notice)</a> | 
	<a href='{{ "/feed.xml" | prepend: site.baseurl }}'><img src='{{ "/assets/img/site/feed-icon.png" | prepend: site.baseurl }}' alt='Atom 1.0 Feed' style="height: 20px;"></a> | 
	<span style="position: relative; top: 6px;"><a href="https://twitter.com/RSE_de?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false" data-dnt="true" alt="Twitter account">Follow @RSE_de</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></span>
</div>
