<ul class='nav navbar-nav'>
    <!-- Get a list of pages sorted by the "weight" variable from the YAML header of each page file -->
    {% assign pg = site.pages | sort: "weight" %}
    {% for node in pg %}
        <!-- Neglect imprint.html and index.html in either language -->
        {% unless node.path contains "imprint" or node.path contains "index" %}
            {% if node.dir == page.dir %}
                <!-- Identify parents and children for dropdown -->
                <li><a href='{{ node.url | prepend: site.baseurl | append: ".html" }}'>{{ node.title }}</a></li>
            {% endif %}
        {% endunless %}
    {% endfor %}
    <li class='navbar-conflink'><a href='{{ "conf2019/index.html" | prepend: site.baseurl }}'>deRSE19</a></li>
</ul>
