<div>
    <ul>
        <li>ac.uk</li>
        <li>awi.de</li>
        <li>crt-dresden.de</li>
        <li>dfg.de</li>
        <li>dlr.de</li>
        <li>fmp-berlin.de</li>
        <li>fraunhofer.de</li>
        <li>fu-berlin.de</li>
        <li>fz-juelich.de</li>
        <li>gcdh.de</li>
        <li>geomar.de</li>
        <li>gfz-potsdam.de</li>
        <li>gwdg.de</li>
        <li>helmholtz-hzi.de</li>
        <li>helmholtz.de</li>
        <li>htw-dresden.de</li>
        <li>hu-berlin.de</li>
        <li>hzdr.de</li>
        <li>leibniz-fli.de</li>
        <li>mpg.de</li>
        <li>mpi-cbg.de</li>
        <li>pik-potsdam.de</li>
        <li>rfii.de</li>
        <li>shh.mpg.de</li>
        <li>tib.eu</li>
        <li>tu-berlin.de</li>
        <li>tu-braunschweig.de</li>
        <li>tu-darmstadt.de</li>
        <li>tu-dresden.de</li>
        <li>uni-bielefeld.de</li>
        <li>uni-bonn.de</li>
        <li>uni-goettingen.de</li>
        <li>uni-konstanz.de</li>
        <li>uni-muenster.de</li>
        <li>uni-wuerzburg.de</li>
    </ul>
</div>