<!DOCTYPE html>
<html lang="en">
    
  {% include head.html %}
  
  <body class="home">

    <nav class='navbar navbar-default navbar-fixed-top' data-nav-highlight='true'>
      <div class='container container-navbar'>
        <div class='navbar-header'>
          <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar'>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
          </button>
          <a class='navbar-brand navbar-logo' href='/index.html'><img src='{{ site.baseurl | append: "/assets/img/site/rse.png" }}'/></a>
          <a class='navbar-brand' href='/index.html'>de-RSE</a>
        </div>
        <div id='navbar' class='collapse navbar-collapse'>
          <ul class='nav navbar-nav'>
          <!-- Set variable "lang" to reflect page language -->
          {% if page.url contains "/en/" %}
            {% assign lang = "/en/" %}
          {% elsif page.url contains "/de/" %}
            {% assign lang ="/de/" %}
          {% endif %}
          <!-- Set variable "page_conf2019" to reflect if we are on a conference page -->
          {% assign page_conf2019 = false %}
	  {% if page.url contains "/conf2019/" %}
            {% assign page_conf2019 = true %}
          {% endif %}
	  
	  <!-- Get a list of pages sorted by the "weight" variable from the YAML header of each page file -->
          {% assign pg = site.pages | sort: "weight" %}
          {% for node in pg %}
            <!-- Neglect imprint.html and index.html in either language -->
            {% unless node.path contains "imprint" or node.path contains "index" %}
	      <!-- Set variable "node_conf2019" if node links to a conference page -->
	      {% assign node_conf2019 = false %}
	      {% if node.url contains "/conf2019/" %}
                {% assign node_conf2019 = true %}
              {% endif %}
	      <!-- Process page only if it's on the same path as the current page regarding language and conference -->
              {% if node.url contains lang and node_conf2019 == page_conf2019 %}
                <!-- node.url does not contain file endings and is relative: make absolute and append file ending -->
		<li><a href='{{ node.url | prepend: site.baseurl | append: ".html" }}'>{{ node.title }}</a></li>
              {% endif %}
            {% endunless %}
          {% endfor %}
          <li><a href='{{ "conf2019" | prepend: site.baseurl }}'>deRSE19 Conference</a></li>

	  </ul>
          <ul class='nav navbar-nav pull-right'>
            <!-- Build language-relative URL from current URL -->
            {% assign en-url = page.url | replace: "/de/", "/en/" %}
            {% assign de-url = page.url | replace: "/en/", "/de/" %}
            <!-- Ignore index pages, as their URL will always be '/{language}/', not a specific site -->
            {% unless page.path contains "index" %}
              {% assign en-url = en-url | append: ".html" %}
              {% assign de-url = de-url | append: ".html" %}
            {% endunless %}
            {% if page.path contains "404" %}
              {% assign en-url = "/en/" %}
              {% assign de-url = "/de/" %}
            {% endif %}
            <li><a href='{{ de-url | prepend: site.baseurl }}'>Deutsch</a></li>
            <li><a href='{{ en-url | prepend: site.baseurl }}'>English</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <div class="starter-template">
        {{ content }}
        <br/>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>

