<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body class="home">
    <nav class='navbar navbar-default navbar-fixed-top' data-nav-highlight='true'>
        <div class='container container-navbar'>
            <div class='navbar-header'>
                <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar'>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                </button>
                <a class='navbar-brand navbar-logo' href='{{ "index.html" | prepend: site.baseurl }}'><img src='{{ site.baseurl | append: "/assets/img/site/rse.png" }}'/></a>
                <!-- a class='navbar-brand' href='/index.html'>de-RSE</a -->
            </div>
            <div id='navbar' class='collapse navbar-collapse'>
                {% if page.dir contains "/conf2019/" %}
                    {% include navbar_conf.html %}
                {% else %}
                    {% include navbar.html %}
                {% endif %}
                <ul class='nav navbar-nav pull-right'>
                    <!-- Build language-relative URL from current URL -->
                    {% assign en-url = page.url | replace: "/de/", "/en/" %}
                    {% assign de-url = page.url | replace: "/en/", "/de/" %}
                    <!-- Ignore index pages, as their URL will always be '/{language}/', not a specific site -->
                    {% unless page.path contains "index" %}
                        {% assign en-url = en-url | append: ".html" %}
                        {% assign de-url = de-url | append: ".html" %}
                    {% endunless %}
                    {% if page.path contains "404" %}
                        {% assign en-url = "/en/" %}
                        {% assign de-url = "/de/" %}
                    {% endif %}
                    <li><a href='{{ de-url | prepend: site.baseurl }}'>Deutsch</a></li>
                    <li><a href='{{ en-url | prepend: site.baseurl }}'>English</a></li>
                </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
    </nav>
    <div class="container">
        <div class="starter-template">
            {{ content }}
            <br />
        </div>
    </div>
    {% include footer.html %}
</body>

</html>
