<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body class="home">
    <nav class='navbar navbar-default navbar-fixed-top' data-nav-highlight='true'>
        <div class='container container-navbar'>
            <div class='navbar-header'>
                <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar'>
                  <span class='icon-bar'></span>
                  <span class='icon-bar'></span>
                  <span class='icon-bar'></span>
                </button>
                <!-- Set variable "lang" to reflect post's menu language -->
                {% if page.menulang == "en" %}
                    {% assign lang = "/en/" %}
                {% elsif page.menulang == "de" %}
                    {% assign lang ="/de/" %}
                {% endif %}
                {% assign indexurl = lang | prepend: site.baseurl | append: "index.html" %}
                {% assign page_conf2019 = false %}
                {% assign conf2019_link = "conf2019/index.html" %}
                <!-- Get a list of pages sorted by the "weight" variable from the YAML header of each page file -->
                <a class='navbar-brand navbar-logo' href='{{ indexurl }}'><img src='{{ site.baseurl | append: "/assets/img/site/rse.png" }}'/></a>
                <!-- <a class='navbar-brand' href='{{ indexurl }}'>de-RSE</a> -->
            </div>
            <div id='navbar' class='collapse navbar-collapse'>
                {% include navbar_blog.html %}
                <ul class='nav navbar-nav pull-right'>
                    <!-- Build language-relative URL from current URL -->
                    {% assign en-url = page.url | replace: "/de/", "/en/" %}
                    {% assign de-url = page.url | replace: "/en/", "/de/" %}
                    <!-- Ignore index pages, as their URL will always be '/{language}/', not a specific site -->
                    {% unless page.path contains "index" %}
                        {% assign en-url = en-url | append: ".html" %}
                        {% assign de-url = de-url | append: ".html" %}
                    {% endunless %}
                    {% if page.path contains "404" %}
                        {% assign en-url = "/en/" %}
                        {% assign de-url = "/de/" %}
                    {% endif %}
                    <!-- Language menu items take the user back to the blog main page -->
                    <li><a href='{{ "/de/blog.html" | prepend: site.baseurl }}'>Deutsch</a></li>
                    <li><a href='{{ "/en/blog.html" | prepend: site.baseurl }}'>English</a></li>
                </  ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">
        <div class="starter-template">
            <h1>{{ page.title }}</h1>
                <p>{{ page.author }}, {{ page.date | date: "%B %-d, %Y" }}</p>
            <hr>
            {{ content }}
            <br/>
        </div>
    </div>
    {% include footer.html %}
</body>

</html>
